.tooltip {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 10px;
  padding-top: 16px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 10;
  border-radius: 10px;
}

.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}
